.config/BraveSoftware/*
.Xauthority
.bash_history
.cache/*
.config/BraveSoftware/*
.config/mpd/log
.config/mpd/pid
.config/pulse/*
.config/zsh/.zcompdump
.config/zsh/.zshrc
.local/share/nvim/shada/main.shada
.local/share/weatherreport
.local/share/xorg/Xorg.0.log
.local/share/xorg/Xorg.0.log.old
.local/share/zathura/history
.local/share/zathura/input-history
.local/src/*
.nx/*
.profile
.viminfo
.cache/*
.config/BraveSoftware/Brave-Browser/*
.config/pulse/*
.docker/
.local/share/lf/*
.local/share/nvim/swap/*
.zshrc
NoMachine/
