.Xauthority
.cache/
.config/BraveSoftware/
.gnupg/
.local/share/calcurse/
.local/share/lf/
.local/share/newsboat/
.local/share/nvim/
.local/share/ranger/
.local/share/weatherreport
.local/share/xorg/
.local/share/zathura/
.local/src/
.nx/
.pki/
.python_history
.qt/
.config/nvim/autoload/
.config/nvim/plugged/
.config/pulse/
.config/shortcutrc
.config/vifm/vifmshortcuts
.config/zsh/.zcompdump
.config/zshnameddirrc
.viminfo
.config/htop/
archive/
.config/dconf/
.config/ncmpcpp/error.log
.local/share/recently-used.xbel
code-archive/
.local/share/sm64pc/
.ssh/
.fceux/
.config/gtk-2.0/gtkfilechooser.ini
.config/Thunar/
.config/configstore/
.config/google-chrome/
.config/libfm/
.config/pcmanfm/
.config/xfce4/
share/mimeapps.list
share/xfce4/
.node_repl_history
.npm/
.thumbnails/
.vim/
Downloads/
TODO
npm-notes
pic-full-200712-2339-34.png
videos/
.local/share/mimeapps.list
.local/share/xfce4/
archive-moved-to-hdds/
blogs/
ebc/
s9copiedfromphone/
unfreeze/
