archive/
archive-moved-to-hdds/
audiodrivers
.bitmonero/
blogs/
.cache/
code-archive/
.config/anese.conf
.config/ares/
.config/audacious/
.config/BraveSoftware/
.config/bsnes-hd beta/
.config/configstore/
.config/Daedalus Mainnet/
.config/dconf/
.config/FamiStudio/
.config/GIMP/
.config/glib-2.0/
.config/google-chrome/
.config/gpick/
.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/gtk.css
.config/hiro/
.config/htop/
.config/lf/shortcutrc
.config/libfm/
.config/mesen/
.config/monero-project/
.config/mpv/mpv.conf
.config/ncmpcpp/error.log
.config/nestopia/
.config/nvim/autoload/
.config/nvim/plugged/
.config/pcmanfm/
.config/pulse/
.config/QtProject.conf
.config/shortcutrc
.config/snes9x/
.config/TasEmulators/
.config/tetanes/
.config/Thunar/
.config/transmission/
.config/@trezor/
.config/vifm/vifmshortcuts
.config/xbuild/
.config/xfce4/
.config/zshnameddirrc
.config/zsh/.zcompdump
.config/zsh/.zshrc2
.daedalus/
.dbus/
.docker/
Downloads/
ebc/
.fceux/
.fltk/
.fonts/
.gnupg/
.librewolf/
.local/bin/daedalus-mainnet
.local/bin/easy_install-3.7
.local/bin/emnes
.local/bin/pip3
.local/bin/pip3.7
.local/lib/
.local/share/applications/Daedalus-mainnet.desktop
.local/share/applications/mimeinfo.cache
.local/share/calcurse/
.local/share/cargo/
.local/share/crypto-prices/
.local/share/Daedalus/
.local/share/go/
.local/share/hiro/
.local/share/icons/
.local/share/lf/
.local/share/mime/
.local/share/mimeapps.list
.local/share/newsboat/
.local/share/nvim/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/sm64pc/
.local/share/virtualenv/
.local/share/weatherreport
.local/share/xfce4/
.local/share/xorg/
.local/share/zathura/
.local/src/
.local/state/
mesen.desktop
Monero/
.mono/
more-work/
.nes/
.nix-defexpr/
.node_repl_history
.npm/
npm-notes
.nx/
pic-full-200712-2339-34.png
.pki/
.python_history
.qt/
.recently-used
.rustup/
s9copiedfromphone/
.shared-ringdb/
share/mimeapps.list
share/xfce4/
.snes9x/
.ssh/
.thumbnails/
TODO
unfreeze/
videos/
.vim/
.viminfo
wallpapers/
.Xauthority
.config/chromium
.Xauthority-n
.config/NuGet/
.config/calcurse/ke
.intel/
.local/bin/autopep8
.local/bin/bandit
.local/bin/bandit-b
.local/bin/bandit-c
.local/bin/coverage
.local/bin/coverage
.local/bin/coverage
.local/bin/flake8
.local/bin/flask
.local/bin/get_gpro
.local/bin/get_objg
.local/bin/isort
.local/bin/isort-id
.local/bin/normaliz
.local/bin/pbr
.local/bin/py.test
.local/bin/pycodest
.local/bin/pyflakes
.local/bin/pylint
.local/bin/pylint-c
.local/bin/pyrevers
.local/bin/pytest
.local/bin/symilar
.local/bin/undill
.local/include/
.local/share/NuGet/
.local/share/ares/
.nuget/
go-exp/
intel/
lib/
yfpy-client-creds
.config/calcurse/keys
.local/bin/bandit-baseline
.local/bin/bandit-config-generator
.local/bin/coverage-3.11
.local/bin/coverage3
.local/bin/get_gprof
.local/bin/get_objgraph
.local/bin/isort-identify-imports
.local/bin/normalizer
.local/bin/pycodestyle
.local/bin/pylint-config
.local/bin/pyreverse
.config/Code - OSS/
.config/duckstation/
.config/gh/
.config/libreoffice/
.config/menus/
.config/retroarch/
.local/bin/bandit
.local/bin/bandit-baseline
.local/bin/bandit-config-generator
.local/bin/coverage
.local/bin/coverage-3.11
.local/bin/coverage3
.local/bin/flake8
.local/bin/flask
.local/bin/instaloader
.local/bin/mid3cp
.local/bin/mid3iconv
.local/bin/mid3v2
.local/bin/moggsplit
.local/bin/mutagen-inspect
.local/bin/mutagen-pony
.local/bin/normalizer
.local/bin/pbr
.local/bin/py.test
.local/bin/pyaml
.local/bin/pycodestyle
.local/bin/pyflakes
.local/bin/pytest
.local/bin/yt-dlp
.local/include/
.local/share/applications/chrome-agimnkijcaahngcdmfeangaknmldooml-Default.desktop
.local/share/applications/userapp-sxiv -a-M7OI81.desktop
.local/share/bash-completion/
.local/share/doc/
.local/share/fish/
.local/share/gvfs-metadata/
.local/share/man/
.local/share/moonphase
.local/share/zsh/
.vscode-oss/
.wownero/
Fidelity NetBenefits - Stock Plan Activity.pdf
foobar
test-mic.wav
test-react/
test.py
.nvidia-settings-rc
temp/
.config/gtk-3.0/bookmarks
.local/share/Trash/
DONTMOVE/
everdrive/
wownero/
.local/share/lesshst
.vboxclient-clipboard-tty1-control.pid
.vboxclient-clipboard-tty1-service.pid
.local/share/lesshst
.config/VirtualBox/
.local/share/Steam/
.local/share/applications/
.local/share/fonts/.uuid
.local/share/vulkan/
.pulse-cookie
.steam/
.steampath
.steampid
.vagrant.d/
VirtualBox VMs/
VirtualBox on Artix (Arch-based Linux)_ Install - DEV Community.pdf
steam.desktop
.config/go
.vboxclient*
